.DifficultyButton {
  margin: 0 12px;
  background-color: #c0c0c0;
}

.DifficultyButton:hover {
  background-color: #E57373;
}

.DifficultyButton--active {
  background-color: #F44336;
}

.DifficultyButton--active:hover {
  background-color: #F44336;
}
