.Form__input {
  border: 2px solid #c0c0c0;
  height: 36px;
  width: 140px;
  text-align: center;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 24px;
}

.Form__input:focus {
  border-color: #2196F3;
  outline: 0;
}

.Form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c0c0c0;
  font-size: 16px;
}

.Form__input::-moz-placeholder { /* Firefox 19+ */
  color: #c0c0c0;
  font-size: 16px;
}

.QuestionForm__helper {
  font-size: 12px;
  color: rgba(0,0,0,0.54);
  margin-bottom: 4px;
}

.QuestionForm__submit {
  background-color: #2196F3;
}
